:root{
  --color1: #333;
  --color2: #fff;
  --color3:rgb(76, 162, 156);
  --color4: #ccc;
  --color5:rgb(236, 75, 75);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  outline: none;
}
body{
  background:url(./font.jpg);
  color:var(--color2);
}
form{
  background:var(--color3);
  min-height: 50vh;
  width: 300px;
  margin:4rem auto;
  padding: 2rem;
  font-size: 3vh;
  border-radius: 10px;
  letter-spacing: 1.1px;
  position: relative;
  box-shadow: 0 0 30px var(--color1);
}
form::before{
  content: "N";
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifz;
  background: linear-gradient(to bottom right, var(--color1) 0%, var(--color3) 100%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color1);
  transform: translate(-50%, -50%) rotate(-50deg);
  z-index: 2;
}
.box{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  overflow: hidden;
}
input[type="text"], input[type="password"]{
  background: var(--color4);
  color: var(--color1);
  border-radius: 10px;
  height: 30px;
  padding: 0 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: normal;
}
input[type="submit"]{
  color: var(--color2);
  background: linear-gradient(to bottom right, var(--color1) 0%, var(--color3) 100%);
  padding: 10px 2rem;
  letter-spacing: 2px;
  border-top: 1px solid var(--color3);
  border-left: 1px solid var(--color3);
  border-bottom: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  border-radius: 20px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
}
input[type="submit"]:hover{
  border-bottom: none;
  border-right: none;
  border-top: 1px solid var(--color1);
  border-left: 1px solid var(--color1);
  background: linear-gradient(to bottom right , var(--color3) 0%, var(--color1) 100%);
  transform: translateX(-50%) translateX(5px);
}
input[type="submit"]:active{
  transform: translateX(-50%) scale(0.8);
}
span{
  font-size: 14px;
  font-weight: normal;
  margin: 0 10px;
  color: var(--color5);
  visibility: hidden;
}
#progressBarre{
  width: 100%;
  height:7px;
  margin: 4px 0;
  background: var(--color5);
  border-radius: 60px;
  display: none;
  transition: 0.5s linear;
}
/*Javascript*****************************************************************/
.great input{
  border:2px solid green!important;
  color: green;
}
.great span{
  visibility: visible !important;
  font-weight: bold;
  color: green;
}
.error input{
  border:2px solid var(--color5) !important;
  color: var(--color5);
}
.error span{
  visibility: visible !important;
  font-weight: bold;
}
.progresseRed{
  background: red;
  display: block !important;
  width: 25% !important;
}
.progresseBlue{
  background: blue !important;
  display: block !important;
  width: 50% !important;
}
.progresseViolet{
  background:rgb(196, 42, 196) !important;
  display: block !important;
  width: 75% !important;
}
.progresseGreen{
  background:green!important;
  display: block !important;
  width: 100% !important;
}