$color-1 : #F5F5F5;;
$color-2 : #E9130D;
$color-4 : #FFC72F;
$color-5 : #4BA73C;
$color-6 : #595150;
$color-7 : #B3AAA1;
$color-8 : #000000;
$color-9 : rgba(221, 221, 221, 0.92);

*{
  margin: 0;
  padding: 0;
  list-style: none;
}